
.App {
  text-align: center;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  width:100%
}


.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.mainContainer > main {
  overflow-y: scroll;
  display: flex;
}


.slider{
  width: 80%;
  margin: auto;
  overflow: hidden;
  border-radius: 16px
}

.slider1{
  width: 100px; 
  height: 400px;
}

.slider ul{
  display: flex;
  padding: 0;
  width: 400%;

  animation: change 15s infinite;
}

.slider li{
  width: 100%;
  list-style: none;
}

.slider img{
  width: 100%;
}

@keyframes change {
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -150%;}
  45% {margin-left: -150%;}

  50% {margin-left: -280%;}
  70% {margin-left: -280%;}
}



.Login_Layout__mainContainer{
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: hidden;
}

.Login_Layout__mainContainer > main{
  height: 100%;
}
.a{
  width: 12.5%;
}
.center{
  width: 75%;
  height: 100vh;
}

.HomeLayout__main{
  height: 100%;
  background-image: url("media/bookshelf.jpg");
  background-position: left;
  background-size: cover;
}


header {
  height: 45px;
  background-color:#fff;
  top: 0;
  width: 100%;
  padding: 5px;
  box-shadow: 3px 3px 5px  black;
  display: flex;
  flex-grow: .1;
  flex-direction: row;
  justify-content: space-between;
}

.Header__span {
  padding-left: 5px;
}

.Header__Icon {
  font-size: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.Header__logo{
  display: flex;
  align-items: center;
  padding-left: 10px;
  text-decoration: none;
  color: #318aac;;
}
.Header__logo:hover{
  color: #95998A;
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff; 
}

.Landing__text{
  display: flex;
  margin-left: 40px;
  justify-content: right;
  align-items: center;
  padding-right: 100px;
  height: 80vh;
  color:white;
  font-size: 50px;
  text-shadow: 2px 2px 3px gray;
}


.Landing__imageContainer > img{
  object-fit: cover ;
  width: 100%;
}

.log-container{
  margin-top: 5px;
  margin-right: 20px;
}

/*Botones del home*/
.Header__register-btn {
  color: #318aac !important;
  font-weight: 800;
  padding: 0.5em 1.2em;
  background: rgba(252, 252, 252, 0.747);
  border: 2px solid;
  border-color:#318aac;
  transition: all 1s ease;
  position: relative;
}
.Header__register-btn:hover {
  cursor: pointer;
  background: #318aac;
  color: #fff !important;
  border-color: #318aac;
}

.Header__login-btn {
  margin-left: 10px;
  margin-right: 1px;
  color: #318aac !important;
  font-weight: 800;
  padding: 0.5em 1.2em;
  background: rgba(252, 252, 252, 0.747);
  border: 2px solid;
  border-color:#318aac;
  transition: all 1s ease;
  position: relative;
}
.Header__login-btn:hover {
  cursor: pointer;
  background: #318aac;
  color: #fff !important;
  border-color: #318aac;
}

/*Register Page*/
.Register__container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  margin: 0%;
  background-image: url('media/register.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  
}

.Register_login__logo{
  top: 0;
  align-items: center;
  text-decoration: none;
  color: #fff;;
}
.Register_login__logo:hover{
  color: #0b2a3b;
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff; 
}

.Register_login_header{
  display: inline;
  background-color: #318aac;
  width: 100%; 
  padding: 10px;
}
.register_title{
  color:rgb(255, 255, 255);
}

.Register__form{
  background-color: rgba(255, 255, 255, 0.712);
  box-shadow: darkgreen;
  border: 1px solid lightgray;
  box-shadow:4px 4px 10px gray ;
  width: 30%;
  padding: 2rem;
}

.Register__inputs{
  display: flex;
  flex-direction: column;
}

.Register__inputs > input {
  margin: 3px;
  color: rgb(75, 78, 78);
  height: 20%;
  padding: 0.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  border-radius: 5px;
  border: 1px solid gray;
}

.notifications_check{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:1rem;
  margin-bottom:1rem;
}

.Register__submit {
  width: 100%;
  border-radius: 5px;
  height: 2rem;
  margin-top:1rem;
  margin-bottom:1rem;
  color: #318aac !important;
  font-weight: 800;
  padding: 0.5em 1.2em;
  background: rgba(252, 252, 252, 0.747);
  border: 2px solid;
  border-color:#318aac;
  transition: all 1s ease;
  position: relative;
}
.Register__submit:hover {
  cursor: pointer;
  background: #318aac;
  color: #fff !important;
  border-color: #318aac;
}

.Register__login{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom:1rem;
}

.Register__login_link{
  text-decoration: none;
  color:teal;
  
}

.login_redirect{
  margin-top: 10px;
}

.login_redirect:hover{
  color: #0b2a3b;
}


.Login__Google{
  width: 100%;
  border-color: #318aac;
  color:#fff;
  border-radius: 5px;
  height: 2rem;
  background-color: #318aac;
  margin-top:1rem;
  margin-bottom:1rem;
}
.Login__Google:hover{
  cursor: pointer;
  background: #318aac;
  color: #fff !important;
  border-color: #318aac;
}

/*Login page*/
.Login__container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  margin: 0%;
  background-image: url('media/register.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.login-title{
  color:rgb(255, 255, 255);
}

.Login__form{
  box-shadow: darkgreen;
  border: 1px solid lightgray;
  box-shadow:4px 4px 10px gray ;
  width: 30%;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.788);
}

.Login__inputs{
  display: flex;
  flex-direction: column;
}

.Login__inputs > input {
  margin: 3px;
  color: rgb(75, 78, 78);
  height: 20%;
  padding: 0.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  border-radius: 5px;
  border: 1px solid gray;
}

.Login__rememberForget{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:1rem;
  margin-bottom:1rem;
}

.Login__rememberForget__Link{
  text-decoration: none;
  color: teal;
}

.Login__rememberForget__Link:hover{
  color: #0b2a3b;
}

.Login__submit {
  width: 100%;
  border-radius: 5px;
  height: 2rem;
  margin-top:1rem;
  margin-bottom:1rem;
  color: #318aac !important;
  font-weight: 800;
  padding: 0.5em 1.2em;
  background: rgba(252, 252, 252, 0.747);
  border: 2px solid;
  border-color:#318aac;
  transition: all 1s ease;
  position: relative;
}

.Login__submit:hover {
  cursor: pointer;
  background: #318aac;
  color: #fff !important;
  border-color: #318aac;
}

.Login__register{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom:1rem;
}

.Login__register__Link{
  margin-top: 10px;
  text-decoration: none;
}

.Login__register__Link:hover{
  color: #0b2a3b;
}

/*footer*/
footer {
  background-color: #318aac;
  color: #fff;
  height: 5%;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  width:100%;
}


.lorem {
  text-align: justify;
  width: 80%;
  margin: auto;
}
/*Nav var*/
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #318aac;
}

.navbar__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-bottom: 8px;
  padding-left: 10px;
  color:white;
  margin-left: 10px;
  margin-top: 4px;
}
.navbar__logo:hover{
  color: #0b2a3b;
}

.navbar__ul {
  list-style: none;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar__link {
  text-decoration: none;
  padding-left: 15px;
}

.navbar__li {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  color: #fff;
  padding-top:8px;
  padding-bottom: 8px;
  display: flex;
}

.navbar__li:hover{ 
  color: #0b2a3b;
  padding-bottom: 5px;
  border-bottom: 3px solid #fff;
}

.navbar__li--active {
  background-color: lightgray;
  border-radius: 10px;
  color: black;
}


.navbar__li__text{
  padding-left:0.5rem;
}

.navbar__logout{
  text-decoration: none;
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  padding-bottom: 8px;
}

.navbar__logout:hover{
  color: #0b2a3b;
}
/* =============== Página de Productos ============ */

.Products__title{
  width:100%;
  display: flex;
  justify-content:  space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.Products__title > h2{
  margin: 0px;
}

.Products__title__button{
  background-color: #318aac;
  color: #0b2a3b;
  border:none;
  border-radius: 4px;
  padding: 5px 5px;
}

.Products__title__button:hover{
  background-color: #0b2a3b;
  color: white;
  font-weight: 500;
  border:none;
  border-radius: 4px;
}

.Products__form{
  width: 60%;
  margin: auto;
  margin-top:1rem;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: start;
  padding: 2rem 3rem;
  box-shadow: 3px 3px 2px gray;
}

.Products__form__label{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:0.4rem 0rem;
}

.Products__form__button{
  color: black;
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #318aac;
}

.Products__form__button:hover {
  cursor: pointer;
  background: #0b2a3b;
  color: #fff !important;
}

table tr:nth-child(even){
  background-color: #f3f3f3;
}

table tr:hover{
  background-color: #ccc;
  cursor: pointer;
}

.Products__container-table{
  width: 70%;
  margin: auto;
  margin-top:1rem;
}

.Products__table__edit{
  color: darkgray;
}

.Products__table__edit:hover{
  color: dimgray;
}

.Products__table__cancel-edit{
  color:rgba(220, 20, 60, 0.438)
}

.Products__table__cancel-edit:hover{
  color:crimson
}

.Products__table__confirm-button{
  color: rgba(0, 128, 0, 0.555);
}

.Products__table__confirm-button:hover{
  color: rgb(102, 255, 0);
}

.Products__table__icons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Products__table__remove{
  color: rgba(235, 90, 90, 0.466);
}

.Products__table__remove:hover{
  color: rgb(235, 90, 90);
}

/* =============== Página de Ventas ============ */

.Sells__container-table{
  width: 100%;
  margin: auto;
  margin-top:1rem;
}

.Sells__container-table  table  th{
  font-size: small;
}
/* =========== Test styles =====================*/


table{
  border-collapse: collapse;
}

thead{
  border-bottom: 3px solid black;
}

th, td{
  text-align: left;
  padding-right: 20px;
  padding-top:5px;
  padding-bottom:5px;
}



.linkHome{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-content: space-around;
}

.linkHome > h4{
  background-color: lightgray;
  border: 2px dotted green;
  text-decoration: none;
  color: darkgreen;
  padding: 10px;
  margin: 0px 0px;
  width: fit-content;
}

.h-full{
  height: 100vh;
}
.flex-col-j-a-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-j-start{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/*.abc{
   background-color: blue; 
}*/
